@import '../../utils.scss';
@import '../../colors.scss';

div.search {
    padding: 6px;

    .search-type {
        padding-right: 8px;
    }

    .search-button {
        margin-left: 8px;
    }

    .search-inputs {
        padding: 6px;
        .margin-top {
            margin-top: 8px;
        }
    }

    @media all and (min-width: 800px) {
        .search-inputs    { flex: 3 0px; }
        .search-type { order: 1; }
        .search-inputs    { order: 2; }
        .search-button { order: 3; }
    }
}