@import '../../colors.scss';

div#sv-header {
    z-index: 2;
    margin: 0px !important;
    height: 6%;
    background-color: $maincolor1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    width: 100%;

    #sv-header-title {
        color: $white;
        padding-left: 20px;
        margin: 0;
        font-weight: 600;
    }

    img.logo {
        height: 2.5em;
        margin-left: 1em;
    }

    div.vayla-logo {
        margin-left: auto;
        a {
            img {
                height: 4em;
            }
        }
    }
}