@import '../../colors.scss';

div#sv-header {
    z-index: 2;
    margin: 0px !important;
    height: 6%;
    background-color: $maincolor1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}