@import '../../colors.scss';

div#sv-header {
    z-index: 2;
    margin: 0px !important;
    height: 6%;
    background-color: $maincolor1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img.logo {
        height: 2.5em;
        margin-left: 1em;
    }

    div.vayla-logo {
        margin-left: auto;
        a {
            img {
                height: 4em;
            }
        }
    }
}