#!/bin/bash

# Run ESLint on staged JavaScript files
ESLINT_RESULT=$(git diff --cached --name-only -- '*.js*' '*.json' '*.css' | xargs npx eslint)

# Check if ESLint found errors
if [[ $ESLINT_RESULT ]]; then
  echo "ESLint errors found. Commit aborted."
  exit 1
fi