@import '../../colors.scss';

div#language-selector {
    display: flex;
    float: right;
    margin-right: 12px;

    a.language-selection {
        color: $white;
        cursor: pointer;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 4px;
        padding-right: 4px;
        text-decoration: none;

        &.active {
            text-decoration: underline;
        }
    }
}