@import '../../colors';

div.popupContent {
    clear: both;
    background-color: #FFFFFF;
    position: relative;
    left: 0px;
    top: 0px;
    max-height: 250px;
    border-color: #424343;
    overflow: scroll;
    padding-top: 5px;
    border-top: 1px solid #3c3c3c;

    div.contentWrapper-infobox {
        margin-bottom: 10px;
    }

    hr.infoboxLine {
        border: 1px solid;
        width: 90%;
        margin-top: 10px;
    }

    span.infoboxActionLinks {
        padding-right: 15px;
    }

    table td, table th {
        padding-right: 20px;
    }

    table {
        padding-right: 0px !important;
    }
    
    tr:nth-child(2n) {
        background-color: $mainColor3;
    }

}

div.popupContent::-webkit-scrollbar {
    display: none;
}

div.ReactModalPortal {
    div.ReactModal__Overlay--after-open {
        z-index: 20;
        position: fixed;
        inset: 0px;
        background-color: rgba(255, 255, 255, 0.75);
        div.gfi-modal {
            position: absolute;
            transform: translate(-50%, -50%);
            padding: 0px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            overflow: hidden;
            margin: auto;
            inset: 50% auto auto 50%;
            background: rgb(255, 255, 255);
            outline: none;
            border: none;
            border-radius: 0px;
            max-height: 50rem;
            max-width: 50rem;

            @media (max-width: 800px) {
                max-height: 22rem;
                max-width: 22rem;
            }
        }
    }
}
