@import '../../colors';

div.gfi-modal-overlay {
    width: 100% !important;
    height: 100% !important;
}

div.popupContent {
    clear: both;
    background-color: #ffffff;
    position: relative;
    left: 0px;
    top: 0px;
    max-height: 250px;
    overflow: scroll;
    padding-bottom: 0 !important;

    div.contentWrapper-infobox {
        margin-right: 5px;
    }

    hr.infoboxLine {
        border: 1px solid;
        width: 90%;
        margin-top: 10px;
    }

    span.infoboxActionLinks {
        padding-right: 15px;
    }

    td:nth-child(even) {
        padding-right: 10px;
        padding-left: 10px;
    }

    td:nth-child(odd) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid #ddd;
    }

    table {
        border-top: 1px solid #ddd;
        padding-right: 0px !important;
        width: 100%;
    }

    tr:nth-child(2n) {
        background-color: #f2f2f2;
    }

    table tr {
        border-bottom: 1px solid #ddd;
    }
}

div.react-tabs {
    overflow-x: auto;
    overflow-y: hidden;

    ::-webkit-scrollbar {
        height: 0.4rem;
        width: 0.4rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: $mainColor1;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $mainColor2;
    }

    ul {
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0px;
    }

    li {
        box-sizing: border-box;
    }
}

div.ReactModalPortal {
    //uncomment pointer-events to enable moving the map while gfi popup is open
    //pointer-events: none;
    div.ReactModal__Overlay--after-open {
        div.gfi-modal {
            //pointer-events: auto;
            padding: 0px;
            overflow: visible;
            margin: auto;
            inset: 50% auto auto 50%;
            outline: none;
            border: none;
            max-height: 50rem;
            max-width: 50rem;

            @media (max-width: 800px) {
                max-height: 22rem;
                max-width: 22rem;
            }
        }
    }
}
